/* line 18, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 22, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 25, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}

/* line 31, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 35, ../sass/screen.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 38, ../sass/screen.scss */
a:hover {
  color: white;
}
/* line 41, ../sass/screen.scss */
a:active {
  color: white;
}
/* line 44, ../sass/screen.scss */
a:visited {
  color: white;
}

/* line 51, ../sass/screen.scss */
nav {
  height: auto;
  width: 100%;
  background: #9aba97;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
}
/* line 58, ../sass/screen.scss */
nav ul {
  list-style-type: none;
  margin: 40px auto 0;
  width: 100%;
  height: auto;
  display: none;
}
/* line 65, ../sass/screen.scss */
nav li {
  width: 100%;
  display: block;
  position: relative;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 74, ../sass/screen.scss */
nav a {
  width: 100px;
  color: #fff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
}
/* line 81, ../sass/screen.scss */
nav a:hover {
  background-color: #86bb81;
}
/* line 84, ../sass/screen.scss */
nav a:active {
  background-color: #8c99a4;
}

/* line 92, ../sass/screen.scss */
a#mobile {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 0;
}
/* line 102, ../sass/screen.scss */
a#mobile:after {
  content: "";
  background: url(../img/menu-icon.png) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}
