/*---------------- Media Queries ----------------*/
/* line 6, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 10, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 13, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}

/* line 19, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/screen.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 26, ../sass/screen.scss */
a:hover {
  color: white;
}
/* line 29, ../sass/screen.scss */
a:active {
  color: white;
}
/* line 32, ../sass/screen.scss */
a:visited {
  color: white;
}

/* line 39, ../sass/screen.scss */
nav {
  height: auto;
  width: 100%;
  background: #9aba97;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
}
/* line 46, ../sass/screen.scss */
nav ul {
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
@media (max-width: 480px) {
  /* line 46, ../sass/screen.scss */
  nav ul {
    display: none;
    margin: 40px auto 0;
  }
}
/* line 56, ../sass/screen.scss */
nav li {
  width: 16.666%;
  float: left;
  display: block;
  position: relative;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media (max-width: 480px) {
  /* line 56, ../sass/screen.scss */
  nav li {
    width: 100%;
  }
}
/* line 69, ../sass/screen.scss */
nav a {
  width: 100%;
  color: #fff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
}
/* line 76, ../sass/screen.scss */
nav a:hover {
  background-color: #86bb81;
}
/* line 79, ../sass/screen.scss */
nav a:active {
  background-color: #8c99a4;
}

/* line 85, ../sass/screen.scss */
a#mobile {
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 0;
}
@media (max-width: 480px) {
  /* line 85, ../sass/screen.scss */
  a#mobile {
    display: block;
  }
}
/* line 99, ../sass/screen.scss */
a#mobile:after {
  content: "";
  background: url(../img/menu-icon.png) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}
