/* line 5, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 9, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}

/* line 18, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/screen.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 25, ../sass/screen.scss */
a:hover {
  color: white;
}
/* line 28, ../sass/screen.scss */
a:active {
  color: white;
}
/* line 31, ../sass/screen.scss */
a:visited {
  color: white;
}

/* line 38, ../sass/screen.scss */
nav {
  height: auto;
  width: 100%;
  background: #9aba97;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
}
/* line 45, ../sass/screen.scss */
nav ul {
  list-style-type: none;
  margin: 40px auto 0;
  width: 100%;
  height: auto;
  display: none;
}
/* line 52, ../sass/screen.scss */
nav li {
  width: 100%;
  display: block;
  position: relative;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 61, ../sass/screen.scss */
nav a {
  width: 100px;
  color: #fff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
}
/* line 68, ../sass/screen.scss */
nav a:hover {
  background-color: #86bb81;
}
/* line 71, ../sass/screen.scss */
nav a:active {
  background-color: #8c99a4;
}

/* line 79, ../sass/screen.scss */
a#mobile {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 0;
}
/* line 89, ../sass/screen.scss */
a#mobile:after {
  content: "";
  background: url(../img/menu-icon.png) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}
