////////// Breakpoints //////////

@mixin breakpoint($point) {
  @if $point == medium {
    @media (max-width: 600px) { @content; }
  }
  @else if $point == landscape {
    @media (max-width: 480px) { @content; }
  }
  @else if $point == portrait {
    @media (max-width: 320px)  { @content; }
  }
}

////////// Clearfix //////////

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

////////// Base //////////

*{
	margin: 0;
	padding: 0;
}
a{
	color: #fff;
	text-decoration: none;
		&:hover{
			color: #fff
		}
		&:active{
			color: #fff
		}
		&:visited{
			color: #fff
		}
}

////////// & Nav //////////

nav {
	height: 40px;
	width: 100%;
	background: #9aba97;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	@include breakpoint(medium) { 
		height: auto; 
	}
	@include breakpoint(landscape) { 
		max-width: 480px; 
	}
	ul {
		list-style-type: none;
		margin: 0 auto;
		width: 600px;
		height: 40px;
		@include breakpoint(medium) { 
			width: 100%;
			display: block;
			height: auto;
		}
		@include breakpoint(landscape) { 
			display: none;
			margin-top: 40px;
		}
	}
	li {
		float: left;
		@include breakpoint(medium) { 
			width: 50%;
			position: relative;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			&:nth-child(even){
				border-right: 0;
			}
		}
		@include breakpoint(portrait) {
			display: block;
			float: none;
			width: 100%;
			&:nth-child(odd){
				border-right: 0;
			}
		}
		a {
			width: 100px;
			color: #fff;
			display: block;
			text-align: center;
			text-transform: uppercase;
			line-height: 40px;
			&:hover{
				background-color: #86bb81;
			}
			&:active{
				background-color: #8c99a4;
			}
			@include breakpoint(medium) { 
			width: 100%;
			text-align: left;
			text-indent: 25px;
			}
		}
	}

////////// Mobile Nav //////////

	a#mobile{
		display: none;
		@include breakpoint(landscape) { 
			display: block;
			background: #9aba97;
			width: 100%;
			height:40px;;
			padding: 10px;
			border-bottom: 1px solid #fff;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			position: absolute;
			top: 0;
		}
		&:after{
			content: "";
			background: url(../img/menu-icon.png) no-repeat;
			width: 30px;
			height: 30px;
			display: block;
			position: absolute;
			top: 5px;
			right: 10px;
		}
	}
}


