////////// Breakpoints //////////

@mixin breakpoint($point) {
  @if $point == medium {
    @media (max-width: 600px) { @content; }
  }
  @else if $point == landscape {
    @media (max-width: 480px) { @content; }
  }
  @else if $point == portrait {
    @media (max-width: 320px)  { @content; }
  }
}

////////// Clearfix //////////

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

////////// Base //////////

*{
	margin: 0;
	padding: 0;
}
a{
	color: #fff;
	text-decoration: none;
		&:hover{
			color: #fff
		}
		&:active{
			color: #fff
		}
		&:visited{
			color: #fff
		}
}

////////// & Nav //////////

nav {
	height: auto; 
	width: 100%;
	background: #9aba97;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	ul {
		list-style-type: none;
		margin: 40px auto 0;
		width: 100%;
		height: auto;
		display: none;
	}
	li {
		width: 100%;
		display: block;
		position: relative;
		border-bottom: 1px solid #fff;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		}
	a {
		width: 100px;
		color: #fff;
		display: block;
		text-align: center;
		text-transform: uppercase;
		line-height: 40px;
		&:hover{
			background-color: #86bb81;
		}
		&:active{
			background-color: #8c99a4;
		}
	}
}

////////// Mobile Nav //////////

	a#mobile{ 
			width: 40px;
			height:40px;;
			padding: 10px;
			border-bottom: 1px solid #fff;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			position: absolute;
			top: 0;
		&:after{
			content: "";
			background: url(../img/menu-icon.png) no-repeat;
			width: 30px;
			height: 30px;
			display: block;
			position: absolute;
			top: 5px;
			left: 5px;
		}
	}



